FLASK_APP=app.py
FLASK_ENV=development
DATABASE_URL=postgresql://postgres:134340@localhost/ocr_cin
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe

uploads/
uploads/csv/
uploads/pdf/
uploads/reports/

migrations/versions

backend/*.db
backend/*.sqlite
backend/*.sqlite3

npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/.env
backend/.flaskenv

# ignore your real config file:
backend/app/config.py

.DS_Store

environment.yml
